.history-main {
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 30px auto;
}

#notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.note-card {
    background-color: white;
    border-left: 5px solid var(--secondary-color);
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.note-card h3 {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}