.landing-main {
    text-align: center;
    padding: 4rem 1rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.hero-section h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.lookup-word {
    cursor: pointer;
    /*text-decoration: underline;*/
    text-decoration-color: #6a5acd;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.lookup-word:hover {
    color: #6a5acd;
    background-color: #f0f8ff;
}

#modal-definition-body {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.wiki-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    background-color: #f4f4f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: auto;
}